@font-face {
  font-family: 'Digital7';
  src: url('../fonts/Digital-7MonoItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Digital-7MonoItalic.svg#Digital-7MonoItalic') format('svg'),
    url('../fonts/Digital-7MonoItalic.ttf') format('truetype'),
    url('../fonts/Digital-7MonoItalic.woff') format('woff'),
    url('../fonts/Digital-7MonoItalic.woff2') format('woff2');
}

.clock-container .border {
  border: 3px solid red;
  border-radius: 10px;
  display: inline-block;
  padding: 0.2em;
}

.clock-container .time {
  /* Custom font not used due to FOUT/FOIT issues */
  /* Will use after I have satisfactorily dealt with the issues */
  font-family: Arial, sans-serif;
}
